<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bucheng.mybatis.mapper.UserMapper"> <!-- 注意，因为这边没有用到mapper接口，所以这里的namespace不需要是完全的类名 -->

    <select id="findAll" resultType="cn.bucheng.mybatis.domain.User">
        SELECT * FROM t_user
    </select>

    <select id="pageAll" resultType="cn.bucheng.mybatis.domain.User">
        SELECT * FROM t_user
    </select>

    <select id="findLimit" resultType="cn.bucheng.mybatis.domain.User">
        SELECT * FROM t_user limit 0,1
    </select>
</mapper>